<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Main User's Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script type="text/javascript" defer>
    $(document).ready(function() {
      var userId = "<%= userid %>";

      console.log("run js");

      function upload(){
        var x = document.getElementById("myFile");
      }

      var socket = io.connect('127.0.0.1:1337');
      var clientId = null;
      var files;

      // Add events
      $('input[type=file]').on('change', prepareUpload);

      // Grab the files and set them to our variable
      function prepareUpload(event){
        files = event.target.files;
      }


      $('form').submit(function(e){
        e.preventDefault();
        console.log("upload file");

        $form = $(e.target);

    		// Serialize the form data
    		// var data = $form.serialize();
        var data = new FormData();
        data.append("upload", files[0])
    		// You should sterilise the file names
    		// $.each(data.files, function(key, value){
    		// 	data = data + '&filenames[]=' + value;
    		// });

        console.log('data:', files[0])
        $.ajax({
          url: '/file-upload/'+clientId,
          type: 'POST',
          data: data,
          cache: false,
          dataType: 'json',
          processData: false, // Don't process the files
          contentType: false, // Set content type to false as jQuery will tell the server its a query string request
          success: function(data, textStatus, jqXHR){
            if(typeof data.error === 'undefined'){
                // Success so call function to process the form
                console.log('file uploaded')
            } else {
                // Handle errors here
                console.log('ERRORS: ' + data.error);
            }
          },
          error: function(jqXHR, textStatus, errorThrown){
              // Handle errors here
              console.log('ERRORS: ' + textStatus);
              // STOP LOADING SPINNER
          }
        });

        // var input = $('#myFile');
        // else if (!input.files) { alert("This browser doesn't seem to support the `files` property of file inputs."); }
        // else if (!input.files[0]) { alert("Please select a file before clicking 'Load'"); }
        // else {
        //   file = input.files[0];
        //   fr = new FileReader();
        //   fr.onload = file_loaded;
        //   fr.readAsDataURL(file);
        // }


        // console.log(files);
        // socket.emit('file_upload', {file:files});
        return false;
      })


      socket.on('connected', function(data){
        console.log('socket connected:', data.clientId);
        clientId = data.clientId;
      })

      socket.on('file_upload_status', function(upload_status){
        console.log("upload_status", upload_status.status);
      })
    })
    </script>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Facial Recognition</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <center>
        <img class="circle responsive-img" style="width: 150px;" src="/imgs/facialdetect.jpg" />
        <div class="section"></div>
        <h3 class="indigo-text">Hello, <%= username %></h3>

        <h4 class="indigo-text">Welcome to our app! </h4>

        <div class="section"></div>

        <div class="container">
          <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form id='file-upload' ref="uploadForm" action="/users-form/<%= userid %>" method="post" enctype="multipart/form-data">

              <center>
                <h6 class="indigo-text">Please upload your video here.</h6>
                <br>
                <div class='row'>
                  <input type="file" name="myfile" id="myFile">
                  <br>
                  <br>
                  <button type='submit' name='upload_btn' class='col s12 btn btn-large waves-effect indigo'>Uplaod Videos</button>
                  <br />
                </div>

              </center>
              <!-- <input type="submit" value="create user"> -->
            </form>
          </div>
        </div>
        <a href="/">Go Back</a>
      </center>

      <div class="section"></div>
      <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>

</html>
